* {
  margin: 0;
  border: 0;
}

body {
  background-color: #6e5c62;
}

/* HEADER */

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

header > p {
  height: 25px;
  width: 25px;
  color: #B7AEB4;
  background-color: #6e5c62;
  border: solid #B7AEB4 2px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1 {
  text-align: center;
  width: 300px;
  margin: 0 150px;
  color: #FAFAFF;
}

#help, #settings {
  margin-left: 30px;
}

/* GAME */

main {
  margin-top: 100px;
}

.wordBox {
  border: solid #4C4347 3px;
  border-radius: 5px;
  height: 48px;
  width: 48px;
  margin: 3px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #FAFAFF;
  background-color: #6e5c62;
  outline: none;
}

#ç > svg {
  width: 30px;
  height: 30px;
  display: flex;
  margin-left: 10px;
}

.notCurrentAttemp {
  background-color: #615458;
  border: solid #615458 3px;
}

form {
  display: flex;
  justify-content: center;
}

.letterOnFocus {
  height: 43px;
  border-bottom: solid #4C4347 8px;
}

/* KEYBOARD */

footer {
  width: 714px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  margin-top: 50px;
  margin-left: calc((100vw - 714px) / 2);
}

.key {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: #4C4347;
  color: #FAFAFF;
  font-weight: bold;
  margin: 3px;
  font-size: 25px;
}

#A {
  margin-left: 40px;
}

#Z {
  margin-left: 50px;
}

#ç {
  margin-left: 20px;
}

#ENTER {
  margin-left: 20px;
  width: 182px;
}

.correctLetter {
  background-color: #3aa394;
  border: solid #3aa394 3px;
}

.letterIncluded {
  background-color: #d3ad69;
  border: solid #d3ad69 3px;
}

.wrongLetter {
  background-color: #312a2c;
  border: solid #312a2c 3px;
}

/* NON WIDESCREEN DISPLAY */

@media only screen and (max-width: 1280px) {
  .wordBox {
    height: 74px;
    width: 74px;
  }

  .letterOnFocus {
    height: 68px;
    border-bottom: solid #4C4347 9px;
  }
}

/* SMALL MOBILE */

@media only screen and (max-width: 600px) {
  /* HEADER */

  header {
    width: 100%;
  }
  
  header > p {
    height: 20px;
    width: 20px;
  }
  
  #help, #settings {
    margin-left: 10px;
  }
  
  header > h1 {
    width: 140px;
    margin: 0 20px;
    color: #FAFAFF;
  }

  main {
    margin-top: 10px;
  }

  .wordBox {
    border: solid #4C4347 2px;
    height: 40px;
    width: 40px;
    font-size: 30px;
  }
  
  #ç > svg {
    margin-left: 0;
    width: 19px;
    height: 19px;
  }

  .notCurrentAttemp {
    border: solid #615458 2px;
  }

  .letterOnFocus {
    height: 35px;
    border-bottom: solid #4C4347 7px;
  }

  footer {
    width: 360px;
    margin-top: 20px;
    margin-left: 0;
  }
  
  .key {
    width: 30px;
    height: 40px;
    margin: 2px;
    font-size: 14px;
  }

  #A {
    margin-left: 17px;
  }

  #P {
    margin-right: 9px;
  }

  #ç {
    margin-left: 7px;
  }
  
  #Z {
    margin-left: 34px;
  }
  
  #ENTER {
    margin-left: 7px;
    width: 81px;
  }
}